.progress-bar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 70%;
    height: 6px;
    background-color: lightgray;
    .wrapper {
        width: 100%;
        height: 7px;
        position: relative;
        .stage-point {
            width: 18px;
            height: 18px;
            background-color: lightgray;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }
        .current-stage-point {
            width: 30px;
            height: 30px;
            background-color: rebeccapurple;
            border: 4px solid lightgray;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: left .3s ease-out;
        }
    }
}