input, select {
    background: none;
    outline: none;
    border: 2px solid gray;
    padding: 10px 12px;
    font-size: 18px;
    transition: 0.4s border;
    border-radius: 5px;
    &:focus {
        border: 2px solid black;
    }
}
.input--error {
    border: 2px solid red;
    position: relative;
}
.error-span__input {
    position: absolute;
    top: 100%;
    left: 10px;
    color: red;
    transition: all 0.5s;
    font-weight: bold;
}