.form-wrapper {
    min-height: 100vh;
    background-image: url("./../../images/bg/main-bg.jpg");
    background-position: center;
    background-size: cover;

    position: relative;
    background-color: #fff;
    overflow: hidden;
}